@import "./login";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  // background-image: linear-gradient(120deg, #7d2e8560, darkslateblue);
  background-repeat: no-repeat;
  min-height: 100vh;
}
.container {
  max-width: 1130px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
li {
  list-style-type: none;
}

.todo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
  &__input {
    padding-left: 2px;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    background-color: transparent;
  }
  &__button {
    margin-left: 30px;
    width: 80px;
    line-height: 25px;
    display: block;
    background-color: #0097f4;
    border: none;
    outline: none;
    color: wheat;
    transition: background-color 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: #0097f4;
    }
  }
  &-list {
    width: 100%;
    margin: auto;
    padding: 0;
  }
  &-container {
    display: flex;
    justify-content: center;
  }
  &-item {
    padding: 5px;
    display: flex;
    background: linear-gradient(
      90deg,
      rgba(242, 133, 180, 1) 0%,
      rgba(123, 175, 232, 1) 78%,
      rgba(169, 208, 251, 1) 100%
    );
    margin: 10px;
    justify-content: space-around;
    align-items: center;
    animation: new 0.3s ease-in;
    &.complete {
      background: linear-gradient(
        90deg,
        rgba(63, 76, 87, 1) 0%,
        rgba(160, 182, 207, 1) 100%
      );
    }
    & li {
      flex: 1;
      max-width: 80%;
    }
  }

  &__text {
    display: block;
    text-align: left;
    max-width: 1008px;
  }
}

.done {
  background-color: brown;
}

.todo-time {
  font-size: 13px;
  max-width: 120px;
}

.done__btn,
.delete__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 3px;
  background-color: darkslateblue;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.complete {
  background-color: rgba(100, 101, 104, 0.8);
  text-decoration: line-through;
  .done__btn {
    background-color: rgba(100, 101, 104, 0.8);
  }
}
.delete__btn:hover {
  background-color: darkred;
}

.fa-check,
.fa-trash-alt {
  pointer-events: none;
}

// FILTER
select {
  appearance: none;
  outline: none;
  border: none;
  color: #0097f4;
  cursor: pointer;
  width: 30px;
  padding: 6px;
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
}
.select {
  position: relative;
  overflow: hidden;

  &::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0b0";
    color: white;
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
    pointer-events: none;
    background-color: #0097f4;
  }
  &:hover:after {
    background: white;
    color: #0097f4;
  }
}

// Animation
@keyframes new {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-30deg), rotateZ(0deg);
  }
}

@media (max-width: 550px) {
  .todo-time {
    display: none;
  }
}
